@import "@styles";

.footer {
  z-index: 2000;
  position: sticky;
  height: $footerHeight;
  bottom: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: $lightGrey;
  .dbInfo {
    color: $darkGrey;
    line-height: 1.5rem;
    span {
      font-style: italic;
      text-decoration: underline;
    }
  }
  .notification{
    display: flex;
    flex-flow: row-reverse nowrap;
    >button{
      @include flexCenter;
      border: none;
      cursor: pointer;
      &:hover{
        background-color: $grey;
        svg{
          fill: $appColor;
        }
      }
    }
    .newNotification{
      svg{
        fill: $warningRed;
      }
    }
  }
}
