@import "@styles";

.navbar {
  background-color: $appColor;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.5rem;
  height: $headerHeight;
  color: $lightFont;
  padding: 0 1rem;
  z-index: 100;


  nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap : 1rem;
    flex-grow: 1;
    overflow-x: auto;
    height: 4vh;
    @include scrollBar;

    a{
      cursor: pointer;
      padding: 0.15rem;
      border-radius: $appBorderRadius;
      white-space: nowrap;
      color: white;
      text-decoration: none;
      &:hover{
        background-color: $greyHighlight;
        outline: none;
      }
    }

    .logo{
      font-weight: 600;
      font-size: 1.1rem;
      background-color: $appColor;
    }

    ul{
      position: fixed;
      border-radius: $appBorderRadius;
      padding: 0;
      margin-top: 0.4rem;
      list-style: none;
      background-color: $appColor;

      li {
        a {
          padding: 0.3rem 0.2rem;
          display: block;
          border-radius: 0;
        }
      }
    }
    .spacerBox{
      flex-grow: 1;
      cursor: none;
      pointer-events: none;
    }
  }
}
